* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(rgb(28, 28, 75), black);
}

.swiper {
    height: 100vh;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 200px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
    border: 5px solid rgb(19, 19, 19);
    box-shadow: 20px 0 10px #0008, 40px 0 20px #0006, -20px 0 20px #0008, -40px 0 20px #0006;
}

.swiper-slide img {
    display: block;
    width: 100%;
    transition: 0.5s;
}

.swiper-slide img:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
}