* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    padding: 10px 0 10px 10px;
}

img {
    width: calc((100%/3) - 10px);
    cursor: pointer;
}

img:hover {
    transform: scale(1.01);    
}